@media(max-width:980px) {
    nav{
        margin: 20px auto;
        justify-content: center;
        align-items: baseline;
        text-align: center;
    }

    li {
        margin-bottom: 10px;
    }

    .content {
        flex-direction: column;
    }

    .card {
        margin: 20px auto;
        width: 90%;
    }
 }