.content {
    max-width: 80%;
    width: 80%;
    margin: 0px auto;
    padding: 20px;
    justify-content: center;
    display: flex;
    gap: 20px;
  }
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 10px;
    width: 45%;
  }
  
  .main_content {
    max-width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: flex;
    align-items: center;
    width: 80%;
  }
  .main_img {
    flex: 1;
    text-align: right;
    width: 60%;
  }
  
  .main_text {
   flex: 1;
  }
  
  .content_page {
    max-width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  
  .card:hover {
    box-shadow: 0 2px 5px rgba(1, 2, 2, 0.5);
  }
  
  .card a {
    color: #333;
    text-decoration: none;
  }
  
  .card h2 {
    font-size: 24px;
    text-align: start;
    padding: 0px;
    margin: 0px;
  }
  
  .card div {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .card img {
    display: block;
    width: 35%;
    height: auto;
  }
  
  .card figure {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
  
  .card figcaption {
    font-size: 20px;
    width: 100%;
  }
  
  section h2 {
    text-align: center;
    font-size: 50px;
  }
  
  section p {
    font-size: 20px;
  }
  
  section figcaption {
    font-size: 20px;
  }
  
  .article-figure {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .article-figure img {
    width: 30%;
    height: auto;
  }
  