form {
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 80%;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  input[type="submit"] {
    background-color: #57b766;
    color: white;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }