@import url("./cabecalho.css");
@import url("./conteudo.css");
@import url("./rodape.css");
@import url("./break-point-1295px.css");
@import url("./break-point-1060px.css");
@import url("./break-point-980px.css");
@import url("./break-point-849px.css");

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  